$logo-clr: #ffc01f;
$helio-gry: #3a393a;
$content-clr: #cdcdcd;
$header-clr: #fff;
$card-clr: #545353;

* {
  box-sizing: border-box;
  font-family: sans-serif;
}
img:not([src^='https://heliotraining.com']){
  max-width: 235px;
}
html {
  background-color: $helio-gry;
}
.page-wrap {
  width: 960px;
  margin: 0 auto;
}
.listbox {
  background-color:dimgray;
  height: 100%;
  width: 200px;
    padding:5px 15px;
}
li {
  color: white;
  font-family:Cambria;
}
.paragraphbox {
  background-color:dimgray;
  height: 100%;
  width: 100%;
  padding:5px 15px;
}
.images img{
  margin:5px;
  width: 150px;
}